body {
        background-color: rgb(145, 159, 57);
    }
    ol {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    li {
        background-color: rgba(128, 128, 128, 0.551);
        padding: 10px;
        border-radius: 10px;
    }

    p {
        display: inline;
    }