@charset "UTF-8";



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



:root {
    --cor-fundo-body: rgba(128, 128, 128, 0.295);
    --cor-fundo-header: var(--cor-fundo-hero-page);
    --cor-fundo-hero-page: #F29829;
    --cor-fundo-aside: #73624D;
    --cor-fundo-lab-page-a: #48433C;
    --cor-fundo-diw-page: transparent;
    --cor-fundo-diw-page-p: white; 
    --cor-fundo-footer: black;

    --cor-letras: #0D0D0D;
}



html { scroll-behavior: smooth; }



body {
    position: relative;
    height: 100vh;
    background-color: var(--cor-fundo-body);
}
p, h1, h2, a {
    color: var(--cor-letras);
}



header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    width: 100%;
    padding: 25px 40px;
    border-radius: 0 0 30px 30px;
    font-size: 1.8em;
    text-align: center;
    color: white;
    background-color: var(--cor-fundo-header);
}
header h2 {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
}
.hamburguer {
    display: none;
}
header ul {
    position: relative;
    display: flex;
    list-style-type: none;
    column-gap: 50px;
    margin-left: 90px;
}
header li:nth-child(1)::after,
header li:nth-child(2)::after,
header li:nth-child(3)::after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: black;
    transition: width .6s ease-in-out;
}
header li:nth-child(1)::after {
    left: -3px;
    bottom: 2px;
}
header li:nth-child(1):hover::after {
    width: 52px;
}
header li:nth-child(2)::after {
    left: 94px;
    bottom: 2px;
}
header li:nth-child(2):hover::after {
    width: 108px;
}
header li:nth-child(3)::after {
    left: 247px;
    bottom: 2px;
}
header li:nth-child(3):hover::after {
    width: 41px;
}

header a {
    text-decoration: none;
    font-size: 0.7em;
}




#hero-page,
#lab-page,
#diw-page { scroll-margin-top: 80px; }

#hero-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cor-fundo-hero-page);
}
#hero-page > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 700px;
    height: 300px;
}
#hero-page > div h1 {
    font-size: 3.5em;
}
#hero-page > div p {
    font-size: 1.5em;
    margin-bottom: 20px;
}
#hero-page a[href="#lab-page"] {
    padding: 10px 22px;
    border: 1px solid var(--cor-letras);
    border-radius: 7px;
    box-shadow: 3px 3px 0px black;
    font-size: 1.2em;
    text-decoration: none;
    transition: transform .2s ease-in-out;
}
#hero-page a[href="#lab-page"]:hover {
    transform: translateY(-5px);
}

#lab-page {
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    grid-template-areas: "asideEsq divMeio asideDir";
    height: 100vh;
    margin: 7px;
    overflow: hidden;
}
#asideEsq, 
#asideDir,
#divMesclar {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    border: 2px solid rgba(0, 0, 0, 0.36);
    border-radius: 0 10px 0 10px;
    background-color: var(--cor-fundo-aside);
}
#asideEsq { 
    grid-area: asideEsq; 
}
#asideDir { 
    grid-area: asideDir; 
}
#divMeio {
    grid-area: divMeio;
    position: relative;
    height: auto;
    background-image: url(images/pessoa-pensativa.png);
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(25%);
}
#divMesclar { 
    display: none; 
}
#asideEsq:hover ~ #divMeio { 
    background-image: url(images/pessoa-apontando-reverso.png); 
}
#asideDir:hover ~ #divMeio { 
    background-image: url(images/pessoa-apontando.png); 
}
#divMeio > p:nth-child(1),
#divMeio > p:nth-child(2),
#divMeio > p:nth-child(3) {
    position: absolute;
    left: 50%;
    width: 300px;
    font-size: 1.3em;
    text-align: center;
    transform: translate(-50%, 50%);
}
#divMeio > p:nth-child(2),
#divMeio > p:nth-child(3) { 
    display: none; 
}
#asideDir:hover ~ #divMeio > p:nth-child(1),
#asideEsq:hover ~ #divMeio > p:nth-child(1) { 
    display: none; 
}
#asideEsq:hover ~ #divMeio > p:nth-child(2) { 
    display: block; 
    transform: translate(-50%, 200%);
}
#asideDir:hover ~ #divMeio > p:nth-child(3) {
    display: block;
    transform: translate(-50%, 500%);
}
#asideEsq ul, 
#asideDir ul, 
#divMesclar ul {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    list-style-type: none;
}
#lab-page h3 {
    font-size: 2.1em;
    text-align: center;
    margin: 55px 0 90px 0;
}
#lab-page li {
    display: flex;
    width: 160px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid transparent;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.562);
    background-color: var(--cor-fundo-lab-page-a);
    transition: all .25s ease-in-out;
}
#lab-page li:hover {
    border-color: black;
    filter: brightness(85%);
    transform: translateY(5px);
}
#lab-page a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.25em;
    text-decoration: none;
    color: white;
}

#diw-page {
    height: 100vh;
    padding: 50px 0;
    background-color: var(--cor-fundo-diw-page);
}
#diw-page > article {
    display: flex;
    align-items: center;
    height: 50%;
    padding: 10px;
}
#diw-page > article > div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 50%;
    max-width: 650px;
    padding: 10px 12px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.216);
    background-color: var(--cor-fundo-diw-page-p);
}
#diw-page p {
    font-size: 1.1em;
}
#diw-page span {
    text-decoration: underline var(--cor-fundo-hero-page);
}
#diw-page ul {
    list-style-position: inside;
}
#diw-page a:hover {
    color: var(--cor-fundo-hero-page);
}
#diw-page img {
    display: block;
    width: 300px;
    height: auto;
    margin: auto;
}



footer {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: var(--cor-fundo-footer);
}
footer > p {
    color: white;
}










@media screen and (max-width: 1150px) {
    #lab-page {
        grid-template-columns: 50% 50%;
        grid-template-areas: "asideEsq asideDir";
    }
    #divMeio {
        display: none;
    }
}



@media screen and (max-width: 950px) {
    #diw-page > article { flex-direction: column; }
    #diw-page > article > div { width: 100%; }
    #diw-page img { display: none; }
}



@media screen and (max-width: 760px) {
    #hero-page > div { width: 90%; }

    #lab-page { grid-template-columns: 1fr; }
    #asideEsq { display: none; }
    #asideDir { display: none; }
    #divMesclar { 
        display: flex; 
        text-align: center; 
    }
    #divMesclar h3 {
        margin: 30px 0 40px 0;
    }

    footer {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        padding: 30px;
    }
}



@media screen and (max-width: 650px) {
    header, nav, ul { 
        flex-direction: column;
    }
    header:hover {
        border: 1px solid rgba(0, 0, 0, 0.285);
    }
    header:hover ~ main {
        padding-top: 160px;
    }
    header h2 {
        width: 100%;
        align-items: center;
    }
    header nav {
        display: none;
    }
    header:hover nav {
        display: flex;
    }
    header ul {
        margin: 0;
        margin-top: 30px;
        row-gap: 20px;
    }
    
    .hamburguer {
        display: block;
        font-size: 1.2em;
    }

    header li:nth-child(1):hover::after,
    header li:nth-child(2):hover::after,
    header li:nth-child(3):hover::after {
        width: 0;
    }
}


