@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes mexerCesto {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(40deg); }
    50% { transform: rotate(-40deg); }
    75% { transform: rotate(40deg); }
    100% { transform: rotate(0deg); }
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-fundo-body: lightgray;
    --cor-fundo-header: purple;
    --cor-fundo-produto: white;
    --cor-fundo-descricao: lightgray;
    --cor-fundo-footer: black;

    --fonte-header: "Poppins", sans-serif;
    --fonte-produto: "Inter", sans-serif;
    --fonte-h: "Montserrat", sans-serif;
}



html {
    scroll-behavior: smooth;
}



body {
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    background-color: var(--cor-fundo-body);
}



header {
    grid-area: header;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    font-family: var(--fonte-header);
    background-color: var(--cor-fundo-body);
}
header h1 {
    letter-spacing: 2px;
}
header em {
    font-weight: 290;
}
header ul {
    display: flex;
    column-gap: 30px;
    list-style: none;
}
header li {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
header li p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    border: 1px solid rgba(0, 0, 0, 0.393);
    border-radius: 50%;
    font-size: .8em;
    background-color: white;
}
header li a {
    font-size: 1.1em;
    text-decoration: none;
    color: black;
}



main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#produtos,
#cesto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
    margin: 30px;
    font-family: var(--fonte-produto);
}
#h2_produtos,
#h2_cesto {
    margin-top: 140px;
    font-family: var(--fonte-h);
    font-size: 1.7em;
}
.produto {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: fit-content;
    padding-bottom: 10px;
    background-color: var(--cor-fundo-produto);
    transition: box-shadow .4s ease-in-out;
}
.produto:hover {
    box-shadow: 4px 4px 0 black;
}
.produto figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.produto img {
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
}
.produto .avaliacao {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    column-gap: 7px;
    padding: 5px 7px;
    background-color: var(--cor-fundo-produto);
}
.produto:hover .avaliacao {
    display: flex;
}
.produto h3,
.produto > p {
    padding: 0 10px;
}
.produto h3 {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 67.2px;
    margin-top: 10px;
    font-weight: 400;
    font-size: .9em;
    text-transform: uppercase;
}
.produto > p {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 3px;
}
.produto .preco {
    align-self: self-start;
    font-size: .8em;
}
.produto .preco ~ button {
    position: relative;
    border: 0 solid transparent;
    font-size: .8em;
    font-weight: 270;
    background-color: white;
}
.produto .preco ~ button::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.462);
    transition: width .4s ease-in-out;
}
.produto .preco ~ button:hover::after {
    width: 100%;
}
.produto .descricao {
    display: none;
    padding: 10px 15px;
    font-size: .85em;
}
.produto .descricao span:nth-child(2) {
    display: block;
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
}
.produto button {
    cursor: pointer;
    font-family: var(--fonte-produto);
}
.produto .adicionarCesto {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    align-items: center;
    column-gap: 2px;
    padding: 6px;
    border: 1px solid rgba(0, 0, 0, 0.400);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 1);
}
.produto:hover .adicionarCesto {
    display: flex;
}
.produto .adicionarCesto > span {
    font-size: 1.5em;
    transition: transform .5s;
}
.produto .adicionarCesto:hover span {
    animation: mexerCesto 1 1.3s ease-in-out;
}
.produto .adicionarCesto > p {
    font-size: 1.1em;
    font-weight: 530;
}



#h2_cesto {
    display: none;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}
#h2_cesto p {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 400;
    font-size: .8em;
}



footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin-top: 200px;
    background-color: var(--cor-fundo-footer);
}
footer > p {
    color: white;
}