@import url(style-global.css);



article {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.texto {
    width: 40%;
    max-width: 400px;
    margin: auto;
}

iframe {
    display: block;
    width: 60%;
    max-width: 800px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.245);
}










@media screen and (max-width: 750px) {
    article {
        flex-direction: column;
    }

    .texto {
        width: 100%;
        max-width: none;
    }

    iframe {
        width: 100%;
    }
}