@import url(style-global.css);

@keyframes transparencia-foto {
    0% { opacity: 1; }
    50% { opacity: 0.1; }
    100% { opacity: 1; }
}



html { scroll-behavior: smooth; }



main {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}



.topo {
    padding: 0 15px;
}

.container-gif {
    width: calc(100vw-30px);
    height: 100vh;
    margin-top: 20px;
    background-color: black;
    overflow: hidden;
}
.gif {
    width: 100%;
    height: 100vh;
}
.container-gif img {
    display: none;
}

.ancoras {
    position: absolute;
    top: 5.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.ancoras ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
}
.ancoras li {
    width: 15%;
    max-width: 180px;
    text-align: center;
}
.ancoras a {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    max-width: 180px;
    padding: 15px 20px;
    border-bottom: 5px solid lightgray; 
    border-radius: 30px;
    font-size: 1.1em;
    text-decoration: none;
    color: black;
    background-color: lightgray;
    box-shadow: 0 2px 7px black;
    transition: all .3s ease-in-out;
}
.ancoras a:hover {
    font-size: 1.4em;
    box-shadow: 0 2px 7px #FDE394;
}
.ancoras a:hover::after,
.ancoras a:hover::before {
    border-color: #FDE394;
}
.ancoras a::after,
.ancoras a::before {
    position: absolute;
    z-index: -1;
    content: "";
    border-top: 3px solid black;
    border-radius: 50%;
    background-color: lightgray;
    transition: border .3s ease-in-out;
}
.ancoras a::after {
    top: -3vw;
    right: 1.5vw;
    width: 7vw;
    height: 7vw;
    max-width: 90px;
    max-height: 90px;
}
.ancoras a::before {
    top: -2vw;
    left: 2vw;
    width: 5.5vw;
    height: 5.5vw;
    max-width: 80px;
    max-height: 80px;
}



#fotografias h3, #video h3, #poema h3 {
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.18);
}
#fotografias, #video, #poema {
    width: 100%;
    height: 110vh;
}
section {
    padding-left: 15px;
    padding-right: 15px;
}
section h3 {
    font-size: 1.5em;
}



#fotografias {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
#fotografias > h3 {
    font-size: 2em;
    writing-mode: vertical-rl;
    text-orientation: upright;
}
figure {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 600px;
    padding: 20px 0;
}
figure > img {
    cursor: pointer;
    width: 150px;
    height: auto;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    animation: transparencia-foto 1s ease-in-out 3s infinite;
}
figure > img:hover {
    transform: scale(1.1);
    animation: none;
}
.avenida-paulista-1 { animation-duration: 6.1s; }
.beco-do-batman-e-vila-madalena-1 { animation-duration: 8.4s; }
.catedral-da-se-1 { animation-duration: 7.2s; }
.edificio-copan-1 { animation-duration: 8.1s; }
.liberdade-1 { animation-duration: 6.7s; }
.mercadao-municipal-1 { animation-duration: 8.9s; }
.museu-do-ipiranga-1 { animation-duration: 7.8s; }
.masp-1 { animation-duration: 6.5s; }
.parque-ibirapuera-1 { animation-duration: 7.4s; }
.ponte-estaiada-octavio-frias-de-oliveira-1 { animation-duration: 8.7s; }

.avenida-paulista-2 { animation-duration: 7.1s; }
.beco-do-batman-e-vila-madalena-2 { animation-duration: 8.2s; }
.catedral-da-se-2 { animation-duration: 6.4s; }
.edificio-copan-2 { animation-duration: 7.9s; }
.liberdade-2 { animation-duration: 8.6s; }
.mercadao-municipal-2 { animation-duration: 6.2s; }
.museu-do-ipiranga-2 { animation-duration: 8.8s; }
.masp-2 { animation-duration: 7.3s; }
.parque-ibirapuera-2 { animation-duration: 6.8s; }
.ponte-estaiada-octavio-frias-de-oliveira-2 { animation-duration: 8.5s; }



/* #fotografias ul {
    position: relative;
    list-style-type: none;
}
#fotografias h4 {
    font-size: 1.5em;
}
#fotografias li {
    position: absolute;
    width: 800px;
    max-width: 1000px;
    right: 50%;
    padding: 100px 0;
    transform: translateX(50%);
} */



#video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#video h3 {
    margin-top: 50px;
    font-size: 2em;
}
.centralizar-video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.centralizar-video iframe {
    display: inline-block;
    width: 75vw;
    height: calc(75vw * 9 / 16);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.749);
}



.parallax {
    position: relative;
    width: 100%;
    height: 75vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
.primeiro-parallax {
    background-image: url(../cidade/images/predio-sao-paulo.jpg);
}
.segundo-parallax {
    background-image: url(../cidade/images/grafite-sao-paulo.jpg);
} 
.parallax p {
    position: absolute;
    bottom: 0;
    margin: 20px;
    padding: 10px;
    font-size: 1.2em;
    text-align: justify;
    color: white;
    background-color: rgba(0, 0, 0, 0.83);
}



#poema {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    border-radius: 0 0 10px 10px;
    background-color: black;
    overflow: hidden;
}
#poema > h3 {
    z-index: 1;
    color: white;
}
#poema > div {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
    width: 500px;
    height: 420px;
    padding: 30px;
    border-radius: 0 30px 0 30px;
    background-color: rgba(242, 204, 79, 0.782);
}
#poema p {
    font-size: 1.3em;
}
#poema span {
    margin-top: 10px;
    margin-right: 30px;
    text-align: right;
}
#poema > img {
    position: absolute;
    top: 220px;
    right: 12%;
    display: block;
    width: 400px;
    height: 420px;
    border-radius: 0 30px 0 30px;
    margin: auto;
}










@media screen and (max-width: 820px) {
    .ancoras {
        top: 2.8%;
    }

    .ancoras a {
        width: 120px;
        border: 0;
        transition: none;
    }
    .ancoras a:hover {
        font-size: 1.1em;
        box-shadow: 0 2px 7px black;
    }
    .ancoras a::after,
    .ancoras a::before {
        content: none ;
    }

    .container-gif {
        height: 50vh;
    }
    .gif {
        display: none;
    }
    .container-gif img {
        display: block;
        width: 100%;
        height: auto;
    }

    #fotografias {
        flex-direction: column-reverse;
    }
    #fotografias h3 {
        writing-mode: horizontal-tb;
    }
    #fotografias figure:nth-of-type(2) {
        display: none;
    }
}